.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
  background: #da9aae4a;
}



.CarListContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.pagination_container{
  display: flex;
  justify-content: end;
  align-items: center;
}
.FilterContainer,.CarListContainer{
  margin:2rem 2rem;
}
.FilterContainer{
  display: flex;
  justify-content:space-between;
}
.search_container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination_and_search_container{
  width: 100%;
  padding: 0rem 4rem;
  display: flex;
  justify-content: space-between;

}


@media (max-width: 768px) {
  .pagination_and_search_container{

    flex-direction: column;
    padding: 0rem 1rem;
  }
}